<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/lotus.png"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">Faça seu Login</h4>
                </div>

                <form>
                  <p>Por favor digite seu login</p>

                  <div class="form-outline mb-4">
                    <input  type=" text" id="usuario" class="validate"
                      placeholder="Digite seu E-mail" />
                  </div>

                  <div class="form-outline mb-4">
                    <input  type="password" id="senha" class="validate"
                      placeholder="Digite sua Senha"/>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit" name="action"
                      (click)="fazerLogin">Entrar</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Skynet Enterprise</h4>
                <p class="small mb-0">Bem-vindo à nossa nova casa digital! Você deve ter notado que tudo aqui está
                  diferente. E não é por acaso, não. Nosso site foi totalmente reformulado para ficar ainda mais
                  sofisticado e dinâmico. Tudo para que você tenha uma experiência muito melhor na hora de navegar pelo
                  site da Skynet Enterprise.


                  A nossa ideia é oferecer um site com um design criado com design agradável, eficiente, moderno e com
                  tecnologia Responsivo (que se adapta a qualquer dispositivo com acesso a web), possibilitando uma
                  incrível experiência para o internauta, que pode acessar por desktop ou via mobile. O que torna uma
                  experiência muita agradável acessar acessar o novo site da Skynet Enterprise.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
