<div class="card principal" *ngFor="let categoria of jogos">
  <h3 class="titulo1"> Desenvolvimento</h3>
  <img src="{{categoria.imagem}}" class="card_imagem" alt="#">
  <div class="card-body">
    <h4 class="card-title">{{categoria.titulo}}</h4><br>
    <h6>Informações</h6>
    <span class="lancamento">Lançamento: {{categoria.lancamento}} </span><br>
    <span class="Plataforma ">Plataforma: </span><br>
    <span class="Genero">Genero:</span><br> <br>
  </div>
</div>

<h1 class="titulo1"> Desenvolvimento</h1>
