<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><u>SkyFlix</u> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Filmes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6>Categorias</h6>
            <hr>
            <li><a class="dropdown-item" href="#" routerLink="filmes">Ação</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Aventura">Animação</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Anime">Anime</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Aventura">Aventura</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Classicos">Clássicos</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Comedia">Comédia</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Documentario">Documentário</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Drama">Drama</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Faroeste">Faroeste</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Ficçao">Ficção</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Herois">Heróis</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Musical">Musical</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Nacional">Nacional</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Romance">Romance</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Suspense">Suspense</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Terror">Terror</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Jogos
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6>Categorias</h6>
            <hr>
            <li><a class="dropdown-item" href="#" routerLink="acao">Ação</a></li>
            <li><a class="dropdown-item" href="#" routerLink="aventura">Aventura</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Series
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6>Categorias</h6>
            <hr>
            <li><a class="dropdown-item" href="#" routerLink="seriesAcao">Ação</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Aventura">Aventura</a></li>
            <li><a class="dropdown-item" href="#" routerLink="Terror">Terror</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="programas">Programas</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Conecte-se
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" routerLink="login">Entrar</a></li>
            <li><a class="dropdown-item" href="#" routerLink="cadastro">Cadastrar</a></li>
          </ul>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
      </form>

    </div>
  </div>
</nav>
