* {
  font-family: 'Poppins', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}


img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

img {
  pointer-events: none;
}

.principal {
  background-color: rgb(255, 255, 255);
  padding: 8px;
  display: inline-block;
  width: 180px;
  height: 250px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
}

.card_imagem {
  padding: 8px;
  width: 130px;
  display: flexbox;
  height: 100px;
}


.info {
  color: #5e5c5c;
}

.info i {
  font-size: 20px;
}

.card-title {
  text-align: center;
  width: 100%;
  height: 4rem;
  font-size: 15px;
}

h6 {
  text-align: center;
  margin-top: -50px;
  background-color: black;
  color: white;
  font-size: 10px;
}

.lancamento {
  font-size: 12px;
}

.Plataforma {
  font-size: 12px;
  text-align: center;
}

.Genero {
  font-size: 12px;
}
