<div class="card principal" *ngFor="let categoria of filmes">
  <img src="{{categoria.imagem}}" class="card_imagem" alt="#">
  <div class="card-body">
    <h4 class="card-title">{{categoria.titulo}}</h4><br>
    <h6>Informações</h6>
    <span class="lancamento">Lançamento: {{categoria.lancamento}} </span><br>
    <span class="Genero">Genero: {{categoria.genero}}</span><br> <br>

    <a class="face-button" href="#">

      <div class="face-primary">
        <span class="icon fa fa-cloud"></span>
        Download
      </div>

      <div class="face-secondary">
        <span class="icon fa fa-hdd-o"></span>
        Download
      </div>

    </a>


  </div>
