@font-face {

  font-family: ScorchedEarthDEMO-KCFonts;
  src: url(/assets/Fontes/ScorchedEarthDEMO-KCFonts.otf);

}





.h1 {
  font-family: fantasy;
  display: block;
  position: fixed;
}

main {
  height: 92vh;
  margin-top: 18px;
  display: block;
  position: relative;

}


app-menu {}
